<div class="body"></div>
<div class="grad"></div>
<div class="header">
  <div>Register
    <span>User</span>
  </div>

</div>
 
<div class="register">
  <div><input type="text" placeholder="Username" [(ngModel)]="data.id"></div>
  <div><input type="Password" placeholder="Password" [(ngModel)]="data.pwd"></div>
  <div><input type="Password" placeholder="Re - Password" (focusout)="validatePassword()" [(ngModel)]="rePwd"></div>
  <div><input type="text" placeholder="Name" [(ngModel)]="data.firstName"></div>
  <div><input type="text" placeholder="LastName" [(ngModel)]="data.lastName"></div>
  <div><input type="email" placeholder="Email" [(ngModel)]="data.email"></div>
  <div><input type="text" placeholder="Tell" [(ngModel)]="data.tell"></div>
  <input type="button" (click)="register()" value="Register">
  <input type="button" (click)="clear()" value="Clear">
  <div class="login" (click)="sendMeLogin()">login</div>
</div>